# Provide the name of your resource group
resourceGroupName=service-health

# Provide the location of your resource group
location=northeurope

# Provide the name of the storage account that will be used by the Azure Functions
storageAccountName=servicehealth001

# Provide the name of the key vault to store secrets used by the Azure Functions
keyVaultName=kv-servicehealth001

# Provide the name of the email communications service used by the Azure Functions to send emails
emailServiceName=email-servicehealth001

# Provide the name of the Azure Function app name
funcAppName=fa-servicehealth001